In [2]:
# [Ghazi Khan]_Assignment_01_Python_Tutorial

In [3]:
# In [1]:
# Basic imports used later
import os
import math
import numpy as np
import pandas as pd

In [5]:
## 1. Variables & Numbers

In [6]:
# In [2]:
counter = 100.00   # float
miles = 100        # int
name = "Ghazi"     # string

print(counter)     # 100.0
print(miles)       # 100
print(name)        # Ghazi

# operations
print(2 + 3)       # 5
print(2.3 + 5.5)   # 7.8
print(2 ** 2)      # 4 (exponent)

100.0
100
Ghazi
5
7.8
4

In [7]:
## 2. Strings

In [8]:
# In [3]:
s = "Hello World"
print("s[0]:", s[0])        # 'H'
print("s[1:5]:", s[1:5])    # 'ello'

# update by reassigning (strings are immutable)
s2 = s[:6] + "Python"
print("Updated:", s2)       # 'Hello Python'

# repetition and concatenation
print("Hi"*3)               # 'HiHiHi'
print("Hello" + " " + "You")# 'Hello You'

s[0]: H
s[1:5]: ello
Updated: Hello Python
HiHiHi
Hello You

In [9]:
## 3. Lists

In [10]:
# In [4]:
list1 = ['physics', 'chemistry', 1997, 2000]
print(list1[0])            # 'physics'
print(list1[1:3])          # ['chemistry', 1997]

# update and append
list1[1] = 'computer science'
list1.append('Computer Science')
print(list1)

# delete by index or value
del list1[2]
print(list1)
list1.remove('Computer Science')  # removes by value
print(list1)

physics
['chemistry', 1997]
['physics', 'computer science', 1997, 2000, 'Computer Science']
['physics', 'computer science', 2000, 'Computer Science']
['physics', 'computer science', 2000]

In [11]:
## 4. Dictionaries

In [12]:
# In [5]:
d = {'Name': "Mehvish", 'Depart': "BCS", 'Batch': 2014}
print(d['Name'])           # 'Mehvish'

# update and add
d['Batch'] = 'SP14'
d['University'] = 'COMSATS'
print(d)

# delete and clear
del d['Batch']
print(d)
d.clear()
print("After clear:", d)   # {}

Mehvish
{'Name': 'Mehvish', 'Depart': 'BCS', 'Batch': 'SP14', 'University': 'COMSATS'}
{'Name': 'Mehvish', 'Depart': 'BCS', 'University': 'COMSATS'}
After clear: {}

In [13]:
## 5. Tuples & Sets

In [14]:
# In [6]:
tup = ('Math','98','C programming','99')
print(tup[1])              # '98'
print(tup[1:3])            # ('98','C programming')

# Sets
my_set = {1, 2, 3}
my_set.add(4)
my_set.update([3,5,6])     # duplicates ignored
print(my_set)              # e.g. {1,2,3,4,5,6}

98
('98', 'C programming')
{1, 2, 3, 4, 5, 6}

In [15]:
# In [7]:
print(1 < 3)               # True
print(15 <= 23)            # True
print('Mehvish' == 'Zeenat')  # False
print((1==1) or (5>2))     # True
print((1<2) and (2<1))     # False

True
True
False
True
False

In [16]:
## 6. If / Else

In [17]:
# In [8]:
x = 10
if x % 2 == 0:
    print("Even")
else:
    print("Odd")

Even

In [18]:
# In [9]:
# for loop: factorial
fact = 1
N = 5
for i in range(1, N+1):
    fact *= i
print("5! =", fact)        # 120

# while loop
a = 0
while a < 5:
    a += 1
    print(a)

5! = 120
1
2
3
4
5

In [19]:
## 7. Functions & Lambda

In [20]:
# In [10]:
def square(x):
    """Return square of x."""
    return x**2

print(square(8))           # 64

# lambda
times3 = lambda v: v * 3
print(times3(10))          # 30

64
30

In [21]:
# In [11]:
fib = [0,1,1,2,3,5,8,13,21,34,55]
evens = list(filter(lambda x: x % 2 == 0, fib))
odds = list(filter(lambda x: x % 2 == 1, fib))
lengths = list(map(lambda w: len(w), "It is raining cats and dogs".split()))
print("Evens:", evens)     # [0,2,8,34]
print("Odds:", odds)       # [1,1,3,5,13,21,55]
print("Word lengths:", lengths)

Evens: [0, 2, 8, 34]
Odds: [1, 1, 3, 5, 13, 21, 55]
Word lengths: [2, 2, 7, 4, 3, 4]

In [22]:
## 8. File I/OOpen, read, write, tell(), seek(), modes: r, w, a, r+, a+

In [23]:
# In [12]:
# Write a file
with open("file_example.txt", "w") as f:
    f.write("Name: Mehvish Ashiq\nDepartment: BSCS\n")

# Read file
with open("file_example.txt", "r") as f:
    content = f.read()
print("Content:\n", content)

# Demonstrate tell() and seek()
with open("file_example.txt", "r+") as fo:
    s = fo.read(10)
    print("Read first 10 chars:", s)
    print("Position after read:", fo.tell())
    fo.seek(0)
    print("Position after seek:", fo.tell())

Content:
 Name: Mehvish Ashiq
Department: BSCS

Read first 10 chars: Name: Mehv
Position after read: 10
Position after seek: 0

In [24]:
## 9. Pandas Series

In [25]:
# In [13]:
s = pd.Series(np.random.randn(5), index=['a','b','c','d','e'])
print(s)
print("Index:", s.index)
print("s['a']:", s['a'])

# get a missing key safely
print("missing ->", s.get('f'))       # None or NaN if provided default
print("greater than median:\n", s[s > s.median()])

a   -1.706078
b    1.463707
c   -2.611707
d    0.084334
e   -0.527359
dtype: float64
Index: Index(['a', 'b', 'c', 'd', 'e'], dtype='object')
s['a']: -1.70607828426202
missing -> None
greater than median:
 b    1.463707
d    0.084334
dtype: float64

In [26]:
## 10. Pandas DataFrame

In [27]:
# In [14]:
df = pd.DataFrame({
    'one': pd.Series([1., 2., 3.], index=['a','b','c']),
    'two': pd.Series([1., 2., 3., 4.], index=['a','b','c','d'])
})
print(df)
print("Columns:", df.columns)
print("df['one']:\n", df['one'])

# Add a column computed from others
df['three'] = df['one'] * df['two']
df['flag'] = df['one'] > 2
print(df)

# basic selection and head/tail
print("Head:\n", df.head())

   one  two
a  1.0  1.0
b  2.0  2.0
c  3.0  3.0
d  NaN  4.0
Columns: Index(['one', 'two'], dtype='object')
df['one']:
 a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64
   one  two  three   flag
a  1.0  1.0    1.0  False
b  2.0  2.0    4.0  False
c  3.0  3.0    9.0   True
d  NaN  4.0    NaN  False
Head:
    one  two  three   flag
a  1.0  1.0    1.0  False
b  2.0  2.0    4.0  False
c  3.0  3.0    9.0   True
d  NaN  4.0    NaN  False

In [28]:
# In [15]:
# create sample df with dates
dates = pd.date_range('20130101', periods=6)
df2 = pd.DataFrame(np.random.randn(6,4), index=dates, columns=list('ABCD'))
print(df2.head())

# selection examples
print("df2['A']:\n", df2['A'])
print("loc row slice:\n", df2.loc['2013-01-02':'2013-01-04', ['A','B']])
print("iloc row 3:\n", df2.iloc[3])
print("df2[df2['A'] > 0]:\n", df2[df2['A'] > 0])

                   A         B         C         D
2013-01-01 -0.837725  1.155085  0.541863  0.701830
2013-01-02  0.236108  0.197216 -1.286482  0.657542
2013-01-03  0.323421  0.174011  1.190081 -0.078774
2013-01-04  1.554126  0.434602  0.575013 -0.120595
2013-01-05  0.583956 -1.023727  0.807030  0.749033
df2['A']:
 2013-01-01   -0.837725
2013-01-02    0.236108
2013-01-03    0.323421
2013-01-04    1.554126
2013-01-05    0.583956
2013-01-06   -0.640494
Freq: D, Name: A, dtype: float64
loc row slice:
                    A         B
2013-01-02  0.236108  0.197216
2013-01-03  0.323421  0.174011
2013-01-04  1.554126  0.434602
iloc row 3:
 A    1.554126
B    0.434602
C    0.575013
D   -0.120595
Name: 2013-01-04 00:00:00, dtype: float64
df2[df2['A'] > 0]:
                    A         B         C         D
2013-01-02  0.236108  0.197216 -1.286482  0.657542
2013-01-03  0.323421  0.174011  1.190081 -0.078774
2013-01-04  1.554126  0.434602  0.575013 -0.120595
2013-01-05  0.583956 -1.023727  0.807030  0.749033

In [29]:
# In [16]:
print("Describe:\n", df2.describe())
print("Transpose (first 3 rows):\n", df2[:3].T)
print("Sort by column B:\n", df2.sort_values(by='B').head())

Describe:
               A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.203232  0.406066  0.240717  0.382249
std    0.869581  0.883016  0.910611  0.394423
min   -0.837725 -1.023727 -1.286482 -0.120595
25%   -0.421344  0.179812 -0.151938  0.037033
50%    0.279764  0.315909  0.558438  0.520999
75%    0.518822  0.974964  0.749025  0.690758
max    1.554126  1.499211  1.190081  0.749033
Transpose (first 3 rows):
    2013-01-01  2013-01-02  2013-01-03
A   -0.837725    0.236108    0.323421
B    1.155085    0.197216    0.174011
C    0.541863   -1.286482    1.190081
D    0.701830    0.657542   -0.078774
Sort by column B:
                    A         B         C         D
2013-01-05  0.583956 -1.023727  0.807030  0.749033
2013-01-03  0.323421  0.174011  1.190081 -0.078774
2013-01-02  0.236108  0.197216 -1.286482  0.657542
2013-01-04  1.554126  0.434602  0.575013 -0.120595
2013-01-01 -0.837725  1.155085  0.541863  0.701830